includes:
    - vendor/rector/type-perfect/config/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - framework
        - components
        - tests
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Property .* is never read, only written#'
        - '#Constructor of class.*has an unused parameter#'
        - '#Parameters should have .* types as the only types passed to this method#'
        - '#Mixed variable in a `\$file->\.\.\.\(\)` can skip important errors#'
        -
            identifier: 'method.returnType'
            message: '#.*returns CheckInterface but returns CheckInterface\.#'
            path: 'framework/System/Capabilities/PreCommit/PreCommit.php'
        -
            message: '#.*Aws\\.*#'
            path: 'components/Integration/ObjectStorage/System/Capabilities/StoreObjects/StoreObjectsOnS3.php'
        -
            message: '#Call to an undefined method object::.*#'
            path: 'components/Integration/ObjectStorage/System/Capabilities/StoreObjects/StoreObjectsOnS3.php'
        -
            message: '#Mixed variable.*#'
            path: 'components/Integration/ObjectStorage/System/Capabilities/StoreObjects/StoreObjectsOnS3.php'
        -
            message: '#Method .* is unused#'
            path: 'components/Integration/ObjectStorage/System/Capabilities/StoreObjects/StoreObjectsOnS3.php'
        -
            message: '#Instantiated class Aws\\.* not found#'
            path: 'components/Integration/ObjectStorage/System/Capabilities/StoreObjects/StoreObjectsOnS3.php'
        -
            message: '#Property.*MaterializedViewRegistry::\$views.*does not specify its types.*#'
        -
            message: '#Method.*MaterializedViewRegistry::staleViews\(\).*does not specify its types.*#'
        -
            message: '#Method.*MaterializedViewRegistry::staleViews\(\).*return type has no value type.*#'
        -
            message: '#PHPDoc tag @implements has invalid value.*#'
        -
            message: '#Call to static method PHPUnit.*will always evaluate to (true|false)#'
            path: 'tests/Unit/Framework/V4Runtime/ReactRuntimeAndWarmSafetyTest.php'
        -
            message: '#Call to static method PHPUnit.*assertArrayHasKey.*will always evaluate to true#'
            path: 'tests/Unit/Framework/V4Runtime/ReactRuntimeAndWarmSafetyTest.php'
    type_perfect:
        narrow_param: true
        narrow_return: true
        no_mixed: true
        null_over_false: true
        no_mixed_property: true
        no_mixed_caller: true
