includes:
    - vendor/rector/type-perfect/config/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - framework
        - components
        - tests
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Property .* is never read, only written#'
        - '#Constructor of class.*has an unused parameter#'
        - '#Parameters should have .* types as the only types passed to this method#'
        - '#Mixed variable in a `\$file->\.\.\.\(\)` can skip important errors#'
        -
            identifier: 'method.returnType'
            message: '#.*returns CheckInterface but returns CheckInterface\.#'
            path: 'framework/System/Capabilities/PreCommit/PreCommit.php'
    type_perfect:
        narrow_param: true
        narrow_return: true
        no_mixed: true
        null_over_false: true
        no_mixed_property: true
        no_mixed_caller: true
