{
  "$schema": "https://infection.github.io/schema.json",
  "source": {
    "directories": [
      "System/Capabilities/Identity/Mfa/Runtime",
      "System/Flows/ChangePassword",
      "System/Capabilities/Identity",
      "System/Capabilities/Identity/Tokens/Runtime",
      "System/Capabilities/Identity/Sessions/Runtime",
      "System/Flows/Logout",
      "System/Flows/RecoverAccess/PasswordReset",
      "System/Capabilities/Identity/PasswordHashing",
      "System/Capabilities/ExternalIdentity/OAuth/Support/SenderConstraint",
      "System/Capabilities/ExternalIdentity/OAuth/Runtime/ExchangeRefreshToken",
      "System/Capabilities/Identity/Mfa/Runtime/Recover"
    ]
  },
  "logs": {
    "summary": "build/infection-summary.log"
  },
  "phpUnit": {
    "configDir": "."
  },
  "mutators": {
    "@default": true
  },
  "timeout": 10
}
