<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Capabilities</directory>
      <directory>tests/Configuration</directory>
      <directory>tests/Flow</directory>
      <directory>tests/Flows</directory>
      <directory>tests/Foundation</directory>
      <directory>tests/System</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
      <directory>tests/Integrations</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>System</directory>
      <directory>integrations</directory>
    </include>
  </source>
</phpunit>
